/* Image styles */
.overlay img {
	opacity: 1;  	
	width: 100%;
	height: auto;
	transition: 0s ease;
	backface-visibility: hidden;
	display: block;
}

.overlay {
	position: relative;
}

/* Label always visible, below image, aligned left */
.middle {
	opacity: 1;
	width: 100%;
	margin-top: 1px; /* Closer to the image */
	position: static;
	transform: none;
	text-align: left; margin-bottom: 16px;
}

/* Label text styling */
.text {
	background-color: none;
	color: #5f5f5e; /* Modern gray */
	font-size: 0.7em;
	padding: 4px 6px;
	display: inline-block;
}

/* Reduce image opacity on smaller screens canceled*/
@media screen and (max-width: 1024px) {
	.overlay img {
		opacity: 1;
	}
}

/* CV page styling */
#cv article ul {
	margin-bottom: 0;
}
